<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>레드마피아</title>
    <style>
        #nick_submit {
            background-color: white;
            font-size: 20px; padding: 10px 20px;
            border-radius: 10px;
        }
    </style>
    <script src="index.js"></script>
</head>
<body >
    <div id="nickname">
        <form action="/index/create" method="post">
            <input type="text" maxlength="5" style="width: 160px;height: 30px; font-size: 30px;" autofocus name="nick" id="nick"/>
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" id="nick_submit" onclick="nick_Login()"></input>
        </form>
    </div>

</body>
</html>